   #section_graphic {
    position: absolute;
    right: 60%;
  }
   #section_graphic img {
    height: 500px;
    filter: opacity(0.3);
  }
   article {
    max-width: 520px;
    z-index: 1;
  }
   article .title {
    padding-bottom: 10px;
    font-family: math;
  }
   article p {
    line-height: 1.5;
    font-family: system-ui;
  }

